* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin: 10px;
}

header {
  text-align: center;
  padding: 20px;
  background-color: lightgrey;
}

header a {
  margin: 20px;
  color: black;
  text-decoration: none;
}

main a {
  text-decoration: none;
  color: black;
}

.active {
  color: mediumblue;
  cursor: default;
}

h1 {
 text-align: center; 
}

button {
  margin: 20px;
}

.login_page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login_page_form {
   text-align: center;
}